In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv("Credit.csv")
dados.shape

(1000, 21)

In [4]:
dados.describe()

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000

In [6]:
dados.head

<bound method NDFrame.head of     checking_status  duration                    credit_history  \
0                <0         6  'critical/other existing credit'
1          0<=X<200        48                   'existing paid'
2     'no checking'        12  'critical/other existing credit'
3                <0        42                   'existing paid'
4                <0        24              'delayed previously'
..              ...       ...                               ...
995   'no checking'        12                   'existing paid'
996              <0        30                   'existing paid'
997   'no checking'        12                   'existing paid'
998              <0        45                   'existing paid'
999        0<=X<200        45  'critical/other existing credit'

                 purpose  credit_amount      savings_status  employment  \
0               radio/tv           1169  'no known savings'         >=7
1               radio/tv           5951                <100      1<=X<4
2              education           2096                <100      4<=X<7
3    furniture/equipment           7882                <100      4<=X<7
4              'new car'           4870                <100      1<=X<4
..                   ...            ...                 ...         ...
995  furniture/equipment           1736                <100      4<=X<7
996           'used car'           3857                <100      1<=X<4
997             radio/tv            804                <100         >=7
998             radio/tv           1845                <100      1<=X<4
999           'used car'           4576          100<=X<500  unemployed

     installment_commitment       personal_status other_parties  ...  \
0                         4         'male single'          none  ...
1                         2  'female div/dep/mar'          none  ...
2                         2         'male single'          none  ...
3                         2         'male single'     guarantor  ...
4                         3         'male single'          none  ...
..                      ...                   ...           ...  ...
995                       3  'female div/dep/mar'          none  ...
996                       4        'male div/sep'          none  ...
997                       4         'male single'          none  ...
998                       4         'male single'          none  ...
999                       3         'male single'          none  ...

      property_magnitude age  other_payment_plans     housing  \
0          'real estate'  67                 none         own
1          'real estate'  22                 none         own
2          'real estate'  49                 none         own
3       'life insurance'  45                 none  'for free'
4    'no known property'  53                 none  'for free'
..                   ...  ..                  ...         ...
995        'real estate'  31                 none         own
996     'life insurance'  40                 none         own
997                  car  38                 none         own
998  'no known property'  23                 none  'for free'
999                  car  27                 none         own

    existing_credits                          job num_dependents  \
0                  2                      skilled              1
1                  1                      skilled              1
2                  1         'unskilled resident'              2
3                  1                      skilled              2
4                  2                      skilled              2
..               ...                          ...            ...
995                1         'unskilled resident'              1
996                1  'high qualif/self emp/mgmt'              1
997                1                      skilled              1
998                1                      skilled              1
999                1                      skilled              1

     own_telephone foreign_worker class
0              yes            yes  good
1             none            yes   bad
2             none            yes  good
3             none            yes  good
4             none            yes   bad
..             ...            ...   ...
995           none            yes  good
996            yes            yes  good
997           none            yes  good
998            yes            yes   bad
999           none            yes  good

[1000 rows x 21 columns]>