In [4]:
import pandas as pd
import seaborn as sdn
import statistics as stn

In [5]:
dataset = pd.read_csv('tempo.csv', sep=';')
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [6]:
dataset.shape

(14, 5)

In [9]:
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [21]:
dataset['Vento'].isnull().sum()

1

In [24]:
mediana = stn.median(dataset['Vento'])
mediana

TypeError: '<' not supported between instances of 'float' and 'str'

In [13]:
dataset.fillna({'Salario'}, inplace=True)

ValueError: invalid fill value with a <class 'set'>